.App {
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.nav-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #193162;
  color: white;
}


.company-name {
  margin-left: 20px;
}

.navBtns {
  margin-right: 20px;

}

.navBtns button {
  width: 60px;
  height: 30px;
  background-color: #c2c5ce
}

.navBtns a {
  color: black;
  font-weight: bold;
  padding: 5px;
  width: 400px;
}


.navBtn {
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}

.navBtns a {
  text-decoration: none;
}

*/ .App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}